@import 'base/reset';

@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/helper';

@import 'component/button';
@import 'component/swipe';

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: $body-font-family;
    color: $body-font-color;
    line-height: 1.7;
    font-size: 16px;
    background: rgba(#a066c2, 0.95) url(../images/Site_bg.jpg) center center no-repeat;
    background-size: cover;
}

div, p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.info-text {
    color: #fff;
    opacity: .6;
}

.container {
    position: relative;
    z-index: 9999;
    max-width: $main-width;
    margin: 0 auto;

}

.site {
    background: rgba(#a066c2, 0.95);
}

/* Header
---------------------------------------- */

.site-header {
    padding: 36px 0;
}

.site-logo {
    width: 126px;
    height: 34px;
    margin: 0 auto;
    background: url(../images/Logo.png) no-repeat;
    @include image-2x("../images/Logo@2x.png", 126px, 34px);
}

/* Banner
---------------------------------------- */
.banner {
    max-width: 310px;
    margin: 0 auto;
}

/* content
---------------------------------------- */
.content {
    text-align: center;
    padding: 0 20px;
}
    .content-title {
        font-size: 24px;
        margin-top: 55px;
        margin-bottom: 35px;
    }

    .content-text {
        font-size: 18px;
    }

/* app-download
---------------------------------------- */
.app-download {
    margin-top: 36px;
    margin-bottom: 55px;
    padding: 0 20px;
}
    .app-version {
        margin-right: 40px;
    }
    
    .app-download-text {
        margin-top: 20px;
        margin-bottom: 15px;
    }

/* footer
---------------------------------------- */
.footer {
    position: relative;
    z-index: 9999;
    background-color: #fff;
    padding: 15px;
    color: $primary-color;
}
