/*------------------------------------*\
	$HELPER
\*------------------------------------*/

/**
 * --------------- PLACEHOLDERS ------------------
 * CLEARFIX -------------------- clearfix
 * ELLIPSIS -------------------- text truncate 
 * CENTER-BLOCK ---------------- center the element
 *
 * --------------- CLASS -------------------------
 * FLOAT ----------------------- float
 * IR -------------------------- image replace
 * HIDE ------------------------ hide element
 * TEXTCE ---------------------- text
 * Visibility ------------------ breakpoint visibility
 * DIV-DOT --------------------- divsion dot
 */





/*------------------------------------*\
	$CLEARFIX
\*------------------------------------*/

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

%clearfix {
  *zoom: 1;   // IE 6/7 trigger hasLayout and contain floats
  &:before, &:after {
    content: "";   /* 1 */
    display: table;   /* 2 */
  }
  &:after {
    clear: both;
  }
}

.clearfix{
	@extend %clearfix;
}





/*------------------------------------*\
	$ELLIPSIS
\*------------------------------------*/

%ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-ellipsis {
  @extend %ellipsis;
}




/*------------------------------------*\
	$CENTER-BLOCK
\*------------------------------------*/

%center-block {
	margin-left: auto;
	margin-right: auto;
}





/*------------------------------------*\
	$FLOAT
\*------------------------------------*/

.left {
	float: left !important;
}

.right {
	float: right !important;
}





/*------------------------------------*\
	$IR
\*------------------------------------*/

.ir { 
	background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
    &:before{
      content: "";
      display: block;
      width: 0;
      height: 150%;
    }
}




/*------------------------------------*\
	$HIDE
\*------------------------------------*/

.hide {
	display: none;
}






/*------------------------------------*\
	$TEXT
\*------------------------------------*/

.text-center {
	text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}





/*------------------------------------*\
  $Visibility
\*------------------------------------*/

.show-for-small {
  @include bp-then-small {
    display: none !important;
  }
}

.hide-for-small {
  @include bp-small {
    display: none !important;
  }
}

.show-for-medium {
  @include bp-then-medium {
    display: none !important;
  }
}

.hide-for-medium {
  @include bp-medium {
    display: none !important;
  }
}

.show-for-large {
  @include bp-then-large {
    display: none !important;
  }
}

.hide-for-large {
  @include bp-large {
    display: none !important;
  }
}




/*------------------------------------*\
  $DIV-DOT
\*------------------------------------*/

.div-dot {
  &:before {
    content: '\2022';
    display: inline-block;
    padding: 0 10px;
    font-family: Arial;
    color: #d8d8d8;
  }
}

.div-dot-after {
  &:after {
    content: '\2022';
    display: inline-block;
    padding: 0 10px;
    font-family: Arial;
    color: #d8d8d8;
  }
}

.div-dot-secondary {
  &:before,&:after {
    color: #666;
  }
}






/*------------------------------------*\ 
  $DIV-LINE
\*------------------------------------*/

.div-line {
  &:before {
    content: '|';
    position: relative;
    top: -1px;
    font-family: Arial;
    display: inline-block;
    padding: 0 8px;
    font-family: Arial;
    color: #ebebeb;
  }
}
