/*------------------------------------*\
	$MIXIN
\*------------------------------------*/

/**
 * BOX-SIZING ------------------ box sizing 
 * BORDER-RADIUS --------------- control border radius.
 * SIDE-RADIUS ----------------- control same side radius
 * CSS-TRIANGLE ---------------- trangle
 * PLACEHOLDER ----------------- placeholder
 * BACKGROUND-OPACITY ---------- background rgba color
 * IMAGE-2X -------------------- retina image
 * OPACITY --------------------- opactiy
 * POSITION -------------------- position the element
 * KEYFRAMES ------------------- keyframes
 * ANIMATION ------------------- animation
 * BG-VARIANT ------------------ bg-variant
 * TRANSITIONS ----------------- transitions
 * SINGLE-TRANSITION ----------- add transition to element
 * TRANSLATE ------------------- translate
 * MEDIA QUERIES --------------- media breakpoint
 */




/*------------------------------------*\
	$BOX-SIZING
\*------------------------------------*/

@mixin box-sizing($type:border-box) {
  	-webkit-box-sizing: $type; // Android < 2.3, iOS < 4
	   -moz-box-sizing: $type; // Firefox < 29
	        box-sizing: $type; // Chrome, IE 8+, Opera, Safari 5.1
}





/*------------------------------------*\
	$BORDER-RADIUS
\*------------------------------------*/

// $radius - Default: $global-radius || 3px
@mixin radius($radius:$global-radius) {
  @if $radius {
    border-radius: $radius;
  }
}





/*------------------------------------*\
	$SIDE-RADIUS
\*------------------------------------*/

// $side - Options: left, right, top, bottom
@mixin side-radius($side, $radius:$global-radius) {
  @if ($side == left or $side == right) {
    -webkit-border-bottom-#{$side}-radius: $radius;
    -webkit-border-top-#{$side}-radius: $radius;
    border-bottom-#{$side}-radius: $radius;
    border-top-#{$side}-radius: $radius;
  } @else {
    -webkit-#{$side}-left-radius: $radius;
    -webkit-#{$side}-right-radius: $radius;
    border-#{$side}-left-radius: $radius;
    border-#{$side}-right-radius: $radius;
  }
}





/*------------------------------------*\
	$CSS-TRIANGLE
\*------------------------------------*/

// We use this to create isosceles triangles
// $triangle-size - Used to set border-size. No default, set a px or em size.
// $triangle-color - Used to set border-color which makes up triangle. No default
// $triangle-direction - Used to determine which direction triangle points. Options: top, bottom, left, right
@mixin css-triangle($triangle-size, $triangle-color, $triangle-direction) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset $triangle-size;
  @if ($triangle-direction == top) {
    border-color: $triangle-color transparent transparent transparent;
    border-top-style: solid;
  }
  @if ($triangle-direction == bottom) {
    border-color: transparent transparent $triangle-color transparent;
    border-bottom-style: solid;
  }
  @if ($triangle-direction == left) {
    border-color: transparent transparent transparent $triangle-color;
    border-left-style: solid;
  }
  @if ($triangle-direction == right) {
    border-color: transparent $triangle-color transparent transparent;
    border-right-style: solid;
  }
}






/*------------------------------------*\
	$PLACEHOLDER
\*------------------------------------*/

@mixin placeholder {
	&:-ms-input-placeholder { @content; }
  	&:-moz-placeholder { @content; }
  	&::-moz-placeholder { @content; }
  	&::-webkit-input-placeholder { @content; }
}





/*------------------------------------*\
	$BACKGROUND-OPACITY
\*------------------------------------*/

@mixin background-opacity($color, $opacity: 0.98) {
	background-color: $color; /* The Fallback */
	background-color: rgba($color,$opacity);
}





/*------------------------------------*\
	$IMAGE-2X
\*------------------------------------*/

@mixin image-2x($image, $width, $height) {
	@media (min--moz-device-pixel-ratio: 1.3),
	       (-o-min-device-pixel-ratio: 2.6/2),
	       (-webkit-min-device-pixel-ratio: 1.3),
	       (min-device-pixel-ratio: 1.3),
	       (min-resolution: 1.3dppx) {
	  background-image: url($image);
	  background-size: $width $height;
	}
}





/*------------------------------------*\
	$OPACITY
\*------------------------------------*/

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8 
}





/*------------------------------------*\
	$POSITION
\*------------------------------------*/

/* --------------------------------------------------------------- *
 * A couple of mixins to handle positioning
 * --------------------------------------------------------------- *
 * CodePen: http://codepen.io/HugoGiraudel/pen/HDebE
 * Article: http://hugogiraudel.com/2013/08/05/offsets-sass-mixin/
 * --------------------------------------------------------------- */

/**
 * Private method
 * Can be called but it's not the point
 * ---------------------------------------------------------------
 * $position : position
 * $args     : list of offsets and values
 */
@mixin _position($position, $args) {

  @each $o in top right bottom left {
    $i: index($args, $o);
    @if $i
    and $i + 1 <= length($args) 
    and type-of( nth($args, $i + 1) ) == number {
      #{$o}: nth($args, $i + 1);
    }
  }
  
  position: $position;
}

/**
 * Mixin triplet calling the private mixin
 * with the appropriate position value
 * ---------------------------------------------------------------
 * $args : list of offsets and values
 */
@mixin absolute($args) {
  @include _position(absolute, $args);
}

@mixin relative($args) {
  @include _position(relative, $args);
}

@mixin fixed($args) {
  @include _position(fixed, $args);
}

/**
 * Usage
 *
 *.el {
     *
     * left   :  will be applied (10px)
     * right  : won't be applied (not numeric)
     * left   :  will be applied (1em)
     * bottom : won't be applied (no value)
     *
    @include absolute(left 10px right "HAHAHA!" top 1em bottom);
    
    background: deepskyblue;
    height: 10em;
    width: 10em;
  }
*/





/*------------------------------------*\
	$KEYFRAMES
\*------------------------------------*/

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @-moz-keyframes #{$animation-name} {
      @content;
    }  
    @-ms-keyframes #{$animation-name} {
      @content;
    }
    @-o-keyframes #{$animation-name} {
      @content;
    } 
    @keyframes #{$animation-name} {
      @content;
    }
}





/*------------------------------------*\
	$ANIMATION
\*------------------------------------*/

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}




/*------------------------------------*\
  $BG-VARIANT
\*------------------------------------*/

@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color;
  }
  a#{$parent}:hover {
    background-color: darken($color, 10%);
  }
}




/*------------------------------------*\
	$TRANSITIONS
\*------------------------------------*/

@mixin transition($transition...) {
  	-webkit-transition: $transition;
          	transition: $transition;
}
@mixin transition-property($transition-property...) {
  	-webkit-transition-property: $transition-property;
          	transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
  	-webkit-transition-delay: $transition-delay;
          	transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration...) {
  	-webkit-transition-duration: $transition-duration;
          	transition-duration: $transition-duration;
}
@mixin transition-transform($transition...) {
  	-webkit-transition: -webkit-transform $transition;
     	-moz-transition: -moz-transform $transition;
       	-o-transition: -o-transform $transition;
          	transition: transform $transition;
}




/*------------------------------------*\
	$SINGLE-TRANSITION
\*------------------------------------*/

// We use this to add transitions to elements
// $property - Default: all, Options: http://www.w3.org/TR/css3-transitions/#animatable-properties
// $speed - Default: 300ms
// $ease - Default:ease-out, Options: http://css-tricks.com/almanac/properties/t/transition-timing-function/
@mixin single-transition($property:all, $speed:300ms, $ease:ease-out) {
  transition: $property $speed $ease;
}






/*------------------------------------*\
	$TRANSLATE
\*------------------------------------*/

@mixin translate($x, $y) {
  	-webkit-transform: translate($x, $y);
      	-ms-transform: translate($x, $y); // IE9 only
          	transform: translate($x, $y);
}





/*------------------------------------*\
  $MEDIA QUERIES
\*------------------------------------*/

@mixin bp-large(){
  @media only screen and (max-width: $large-width){
    @content;
  }
}

@mixin bp-medium(){
  @media only screen and (max-width: $main-width){
    @content;
  }
}

@mixin bp-small(){
  @media only screen and (max-width: $medium-width){
    @content;
  }
}


@mixin bp-then-large(){
  @media only screen and (min-width: $large-width){
    @content;
  }
}

@mixin bp-then-medium(){
  @media only screen and (min-width: $main-width){
    @content;
  }
}

@mixin bp-then-small(){
  @media only screen and (min-width: $medium-width){
    @content;
  }
}
