/*------------------------------------*\
	$VARIABLES
\*------------------------------------*/

/**
 * Layout ------------------------------ 
 * Base Font ---------------------------
 * Font Weights ------------------------ 
 * Body Styles ------------------------- 
 * Font-Smoothing ---------------------- 
 * Default Colors ---------------------- 
 * Border Radius ----------------------- 
 * Link -------------------------------- 
 * Border ------------------------------ 
 * Modal ------------------------------- 
 * Cursor ------------------------------ 
 * z-index ------------------------------
 */

// Layout
$large-width: 960px !default;
$main-width: 640px !default;
$medium-width: 480px !default;

// Base Font
$base-font-size: 100% !default;
$base-line-height: 1.5 !default;

// Font Weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;


// Body Styles
$body-bg: #fff !default;
$body-font-color: #fff !default;
$body-font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !default;
$body-font-weight: $font-weight-normal !default;
$body-font-style: normal !default;


// Font-Smoothing
$font-smoothing: antialiased !default;


// Default Colors
$primary-color: #a066c2 !default;
$secondary-color: #35aae1 !default;
$alert-color: #f8615a !default;
$success-color: #86D854 !default;
$warning-color: #f08a24 !default;
$info-color: #a0d3e8 !default;

$primary-text-color: #444 !default;
$secondary-text-color: #888 !default;
$info-text-color: #bdbdbd !default;


//Border Radius
$global-radius: 3px !default;






