a.btn {
  text-decoration: none;
}

.btn {
  // Default styles
  display: inline-block;
  padding: .4em 1.1em .42em;
  color: #fff;
  transition: background .15s;
  cursor: pointer;
  &-success {
    background-color: #86d854;
  }
  &-block {
    width: 100%;
    text-align: center;
    padding: 15px 10px;
  }
  &-round {
    border-radius: 3em;
  }
}
